/*fonts and config :3*/

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --co1: #F5EEE6;
    --co2: #FFF8E3;
    --co3: #F3D7CA;
    --co4: #dd8097;

    --co5: #E1F0DA;
    --co6: #ACFADF;
    --co7: #94ADD7;
    --co8: #7C73C0;

    --co4u: #a05467;
    --co4b: #bd6c80;
    --co4ba: rgb(189, 108, 128, 70%);
    --co4fa: rgb(221, 128, 151, 30%);


    --lightshadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --lightshadow2: rgba(0, 0, 0, 0.24) 0px 6px 11px;
    --shadow2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --hardshadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    --brdshdw1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --brdshdw2: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    --border01: 2px solid var(--co4);
}

* {
    font-family: "Varela Round";
    color: var(--co1);
    min-width: 0;
}

.main-texts2 {
    line-height: 1.5em !important;
}

.mp-rowcont {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 6px;
    box-shadow: var(--lightshadow);

    transition: all 0.1s ease-out;

    height: 30em;
}

.mp-rowcont:hover {
    box-shadow: var(--hardshadow);
}

.mp-rowcont img {
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

th {
    padding: 1em;
    border-radius: 2px;
    background-color: var(--co4);
    color: var(--co1) !important;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--co4);
    border-radius: 2px;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;

    background-color: var(--co4);
    border-bottom: 4px var(--co1) solid;
    height: 6em;

    width: 100vw;

    box-shadow: var(--lightshadow2);
}

.nav-button {
    all: initial;

    position: absolute;
    top: 0;
    right: 0;

    background-color: var(--co4);

    width: 14em;
    height: 100%;
    text-align: center;

    box-sizing: border-box;
    padding: 0;
    margin: 0;

    transition: all 0.1s;
}

.nav-button * {
    margin: 0;
    padding: 0;
}

.nav-button:hover {
    filter: brightness(110%);
    cursor: pointer;
}


.nav-button[left] {
    top: 0;
    left: 0;
}

#comm-input {
    all: initial;

    background-color: var(--co4fa);
    border-radius: 2px;
    border-bottom: 2px solid var(--co4);
    padding: 1em;

    font-size: 18px;
    color: var(--co4);
    font-family: "Varela Round";
    width: max-content;
}

#comm-input:active {
    filter: brightness(110%);
}

#comm-input::placeholder {
    color: var(--co4u);
}

.img-postpfp {
    width: 6em;
    height: 6em;
    border-radius: 100%;
    outline: var(--co4) solid 4px;
    object-fit: cover;
}

.main-alignstretch {
    align-items: stretch;
}

#userconfig .up-biocont {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.up-biocont[isComment] {
    max-width: 40em;
}

.up-biocont[isComment] p {
    max-width: 100%;
}

.main-br6 {
    border-radius: 6px;
}

.main-shadow {
    box-shadow: var(--brdshdw2);
}

.main-iconnmtb svg {
    margin-top: 0;
    margin-bottom: 0;
}

.dialog_ccimg {
    width: 337.5px;
    height: 450px;
    border-radius: 6px;
}

.main-button {
    background-color: var(--co4);
    color: var(--co1);
}

/* CSS TAGS --------------------------------------------*/
.cc_imgpreview_cont {
    position: relative;
    width: 40em;
    height: 45em;
    margin: 0;
    padding: 1em;
}

.cc_imgpreview_cont img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.main-widthautoimp {
    width: auto !important;
}

#cc_cont_p1 {
    display: block;
}

#cc_cont_p2,
#cc_cont_p3,
#cc_cont_p4,
#cc_cont_p5,
#cc_cont_p6 {
    display: none;
}

.main-flex1>* {
    flex: 1;
}

.cc_imgpreview {
    border-radius: 6px;
}

.cc_button_chosen {
    background-color: var(--co4);
    color: var(--co1);
    outline: var(--co4u) solid 2px;
}

.cc_button_chosen * {
    color: var(--co1) !important;
}

.cc_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2em);

    padding: 0.5em;

    border: 1px var(--co4) solid;
    color: var(--co1);
}

.cc_button[tt="send"] {
    background-color: var(--co4);
    color: var(--co1);
}

.cc_button[tt="send"] * {
    color: var(--co1);
}

.cc_icon {
    position: absolute;
}

.sideitem_hover {
    display: none;
    position: absolute;
    top: 0;
    right: 50%;

    z-index: 99;

    background-color: #fff;
    padding: 1em;
    border-radius: 6px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideitem_hover * {
    color: #000;
}

img[type="userp"] {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    object-fit: cover;
    border: 1px var(--co4) solid;
    margin: 1em;
}


.user-profile {
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;

    padding: 1em;

    cursor: pointer;

    background-color: var(--co1);
    box-shadow: var(--brdshdw1);
    border-radius: 20px;
    width: 45%;
    transition: all 0.1s;
}

.user-profile:hover {
    box-shadow: var(--shadow2);
}

.color-chooser {
    border-radius: 10px;
    border: 4px rgba(0, 0, 0, 0.1) solid;
    cursor: pointer;
    padding: 2em;
    transition: all 0.1s;
}

.chosen {
    transition: all 0.1s;
    outline: #5e4ea1 solid 6px;
}


.up-biocont {
    background-color: var(--co4fa);
    padding: 1em;
    text-align: left;

    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
}

#bio-input {
    background-color: var(--co4fa);
    border: none;
    color: var(--co4u);
    padding: 1em;
    text-align: left;

    border-radius: 6px;
    width: auto;
    width: 35em;
    word-wrap: break-word;
    box-sizing: border-box;
}

#bio-input::placeholder {
    color: var(--co4u);
}

.up-biocont p {
    width: auto;
    max-width: 20em;
}

.main-wrap {
    flex-wrap: wrap;
}

img[type="100%"] {
    height: 100%;
    width: 100%;
    border: 1px var(--co4) solid;
    box-shadow: var(--brdshdw1);
    border-radius: 6px;
}

.adminorders_order {
    cursor: pointer;

    background-color: var(--co1);
    padding: 1em;
    border-radius: 6px;
    border: 1px var(--co4) solid;
    box-shadow: var(--brdshdw2);

    transition: all 0.1s;
}

.adminorders_order:hover {
    filter: brightness(95%);
}

.main-iconaltc svg {
    color: var(--co4) !important;
}

.main-padding2em {
    padding: 2em !important;
}

.main-absolute {
    position: absolute;
}

.main-maxvh {
    height: 100vh;
}

.main-np {
    padding: 0;
}

img[type="sidebarBanner"] {
    object-fit: cover;
    width: 80%;
    height: 80%;
    transition: all 0.2s;
}

img[type="sidebarBanner"]:hover {
    filter: contrast(110%);
    transform: scale(1.05);
}

.oq_iconfix svg {
    width: 6.5em !important;
    height: 6em !important;
}

img[type="oq"] {
    object-fit: cover;
    height: 15em;
    width: 15em;
    border: 1px var(--co4) solid;
    border-radius: 6px;

}

.orderquery-product {
    cursor: pointer;
    width: calc(100% - 2em);

    padding: 1em;
    border: 2px var(--co4) solid;
    border-radius: 16px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    transition: box-shadow 0.2s, background-color 0.05s;
}

.orderquery-product:hover {
    box-shadow: var(--lightshadow);
}

.orderquery-product:active {
    background-color: var(--co4fa);
}

.main-textjustify {
    text-align: justify;
}

.main-fontgrandstander * {
    font-family: "Consolas" !important;
}

.main-iconmr svg {
    margin: 0 !important;
    margin-right: 1em !important;
}

.main-iconmsides svg {
    margin: 0 !important;
    margin-right: 1em !important;
    margin-left: 1em !important;
}

#receipt {
    background-color: var(--co1);
}

#confirmBT {
    -webkit-user-drag: none;
}

#confirmBT:not(:active) {
    transition: filter 0.5s;
}

#confirmBT:active {
    transition: filter 3s;
}

.adminmod-scroll {
    align-items: flex-start;
    box-sizing: border-box;
}

textarea {
    word-wrap: break-word !important;
}

.main-borderbox {
    box-sizing: border-box;
}

.main-buttonpadding {
    padding: 2.02em !important;
}

p[s="sub"] {
    font-size: 14px;
    margin: 0;
    font-weight: lighter;
}

button[disabled] {
    opacity: 70%;
}

button[t="alt"] {
    background-color: var(--co4) !important;
    color: var(--co1) !important;
}

.main-nm {
    margin: 0 !important;
    margin-right: 0 !important;
}

.main-nmi * {
    margin: 0 !important;
    margin-right: 0 !important;
}

.main-medfont {
    font-size: 24px !important;
}

.main-textcenter {
    text-align: center;
}

.main-textleft {
    text-align: left;
}

.main-maxw {
    box-sizing: border-box;
    width: calc(100% - 2em);
}

.main-maxh {
    height: 100%;
}

.main-nmt {
    margin-top: 0 !important;
}

.main-nmb {
    margin-bottom: 0 !important;
}

.main-nms {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.main-inputalt {
    border-color: var(--co4) !important;
    color: var(--co4) !important;
}

.main-inputalt::placeholder {
    color: var(--co4) !important;
    filter: opacity(50%);
}

.main-inputfile {
    cursor: pointer;
    padding: 1rem;
    background-color: var(--co4);
    color: var(--co1) !important;
    border-radius: 6px;
    outline: var(--co4u) solid 2px;
}

.main-inputfile::file-selector-button {
    display: none;
    /*
    background-color: transparent;
    border: 1px var(--co1) dotted;
    color: var(--co1) !important;
    border-radius: 6px;
    padding: 1rem;
    cursor: pointer;
    */
}

.main-inputfile:hover {
    filter: brightness(110%);
}

.main-select {
    padding: 1.2em;
    background-color: var(--co4);
    color: var(--co1) !important;
    text-align: center;
    border-radius: 6px;
    outline: var(--co4u) solid 1px;

    transition: all 0.1s;
}

.main-select:hover {
    filter: brightness(110%);
}

.main-select option {
    background-color: var(--co4);
    color: var(--co1);
    border-color: var(--co4);
}

.main-rowstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-rowstartcenter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main-rowcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.main-row2center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-columncenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-aligncenter {
    align-items: center;
}

.main-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-start2 {
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.main-end {
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

img[type="pfp"] {
    border-radius: 100%;
    object-fit: cover;
    width: 15em;
    height: 15em;
    border: 2px var(--co4) solid;
}

img[type="pfp2"] {
    border-radius: 100%;
    object-fit: cover;
    width: 17em;
    height: 17em;
    border: 2px var(--co4) solid;
}

img[type="pfp3"] {
    height: 12em;
    width: 12em;
    object-fit: cover;
    border: 1px var(--co4) solid;
    box-shadow: var(--brdshdw1);
    border-radius: 6px;
}

@keyframes dialog-appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes dialog-close {
    0% {
        pointer-events: none;
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

dialog {
    padding: 5em !important;
    border: none;
    border-radius: 6px;
    position: fixed;
    z-index: 9999;
    background-color: var(--co1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

dialog[open] {
    animation: dialog-appear 0.4s;
}

dialog[open]::backdrop {
    animation: dialog-appear 0.4s;
    animation-fill-mode: forwards;
}

dialog h1,
dialog h2,
dialog h3,
dialog h4,
dialog h5,
dialog h6,
dialog p {
    color: var(--co4) !important;
}

dialog[for="sc"] {
    width: 100em;
    height: 35em;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

dialog[closing] {
    pointer-events: none;
}

dialog[closing]::backdrop {
    animation: dialog-close 0.4s;
}

dialog button {
    background-color: var(--co4);
    color: var(--co1);
}

.main-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.main-column {
    display: flex;
    flex-direction: column;
}

.main-rowhc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.main-row[order="space-evenly"] {
    justify-content: space-evenly;
}

.newCatalogFilter {
    top: 0;
    width: 100%;
    padding: 2rem;
    background-color: var(--co4);
    margin: 0 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.newCatalogFilter * {
    color: var(--co1) !important;
}

.newCatalogFilter a {
    padding: 2rem;
    background-color: var(--co4);
    border-radius: 5px;
    margin: 0;
    transition: all 0.1s;
}

.newCatalogFilter h2 {
    margin-top: 2rem;
}

.newCatalogFilter a:hover {
    filter: brightness(110%);
}

.newCatalogFilter .main-iconText {
    margin: 0;
}

.newCatalogFilter .main-iconText svg {
    margin: 0;
    margin-right: 1rem;
}

.bodybg:has(.newCatalogFilter) {
    padding-top: 0 !important;
}

.mod-fields {
    margin: 0;
    width: 50rem;
    text-align: center;
}

.mod-fields input[type="text"],
textarea {
    box-sizing: border-box;
    width: calc(100% - 2rem) !important;
}

.main-biggerText * {
    font-size: 20px;
}

.main-darkcont {
    background-color: var(--co4ba);
    padding: 1rem;
    border-radius: 5px;
}

.main-darkcont2 {
    background-color: var(--co4fa);
    padding: 1rem;
    border-radius: 5px;
}

.main-bordercont {
    background-color: transparent;
    padding: 1rem;
    border: 3px var(--co4) solid;
    border-radius: 5px;

    justify-content: center;
}

.main-bordercont2 {
    background-color: transparent;
    padding: 1rem;
    border: 1px var(--co4) solid;
    border-radius: 5px;

    justify-content: center;
}

.main-bordercontx {
    background-color: transparent;
    padding: 1rem;
    border: 3px var(--co4) solid;
    border-radius: 5px;

    justify-content: center;
}

.main-bordercont input[type="text"] {
    border-color: var(--co4) !important;
    color: var(--co4) !important;
}

.main-bordercont input::placeholder {
    color: var(--co4) !important;
    filter: opacity(50%);
}

.main-darkcont input {
    background-color: transparent !important;
}

.main-darkcont[t="c"] * {
    color: var(--co1) !important;
}

.main-darkcont[c="c"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
}

.catchoose {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem !important;
}

.catchoose a {
    margin: 0 !important;
    border-radius: 0;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    font-size: 20px;
    text-decoration: none;
}

.parent-prodMng {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.prodMng {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prodMng[t="1"] input[type="text"],
textarea {
    width: 15rem;
}

.prodMng input[type="text"],
.prodMng input[type="number"],
.prodMng input[type="file"],
.prodMng select,
.prodMng option,
.prodMng textarea {
    padding: 1rem;
    border-radius: 6px;
    border: none;
    text-align: center;
    width: calc(100% - 3em);
    color: var(--co1) !important;
    background-color: var(--co4);
    word-wrap: break-word;
    word-break: break-all;
    font-size: 20px;
}

.prodMng input::file-selector-button {
    background-color: transparent;
    border: 1px var(--co1) solid;
    padding: 1rem;
    color: var(--co1);
    border-radius: 6px;
    margin-right: 1rem;
    width: 20rem;
}

.prodMng input::file-selector-button:hover {
    cursor: pointer;
}

.prodMng input[type="file"]:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.prodMng input:focus:not(input[type="file"]),
textarea:focus {
    box-shadow: var(--lightshadow);
}

.prodMng textarea {
    padding-top: 2.2rem;
}

.prodMng textarea::placeholder {
    color: var(--co1);
    filter: opacity(50%);
}

.prodMng .main-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 !important;
}

.main-iconText {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.regDatabox {
    margin: 0 !important;
    padding: 2rem 1rem;

    text-align: center;
}

.toast {
    width: 100vw;
    height: 100vh;
    background-color: var(--co4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyCenter {
    align-items: center;
    justify-content: center;
}

.adminCont {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: calc(100vh - 14rem);
}

.adminRow {
    box-sizing: border-box;
    width: calc(100% - 2rem);
    border-radius: 6px;

    padding: 1rem !important;
    margin: 1rem !important;
    box-shadow: var(--lightshadow);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    transition: all 0.1s;
    text-decoration: none;
}

.adminRow:hover {
    filter: brightness(110%);
}


.mainRow {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.mainRow img[type="mbanner"] {
    width: 30rem !important;
}

.titleicon {
    display: flex;
    align-items: center;
}

.titleicon svg {
    margin: 0 !important;
    margin-right: 1rem !important;
}

hr {
    border: 1px rgb(148, 173, 215, 50%) solid;
    width: 100%;
    border-radius: 5rem;
}

hr[t="alt"] {
    border: 0.1rem var(--co1) solid;
}

hr[t="2"] {
    border: 1px var(--co4) solid;
}

icon {
    margin: 0rem 1rem;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a[type="textlink"] {
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration 0.2s;
}

/*copied this from this site :p
https: //www.30secondsofcode.org/css/s/hover-underline-animation/
*/

.underline_anim {
    display: inline-block;
    position: relative;
}

.underline_anim::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--co1);
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.underline_anim:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.underline_anim[col='alt'] {
    margin: 0 !important;
}

.underline_anim[col='alt']::after {
    margin: 0;
    padding: 0;
    background-color: var(--co4);
}

.main-smallfont {
    font-size: 18px;
}


a[d="u"] {
    text-decoration: underline !important;
}

p[t="c"],
a[t="c"] {
    text-align: center;
}

p[t="j"],
a[t="j"] {
    text-align: justify;
}

p[t="l"],
a[t="l"] {
    text-align: left;
}

p[t="r"],
a[t="r"] {
    text-align: right;
}

body {
    background: linear-gradient(180deg, var(--co1) 0%, var(--co3));
    margin: 0;
    color: var(--co8);

    box-sizing: border-box;

    min-height: 100vh;
}


img[type="icon"] {
    filter: blur(10px);
    object-fit: cover;
}

img[type="banner"] {
    object-fit: cover;
    width: 90%;
    height: 90%;
}

img[type="bbanner"] {
    object-fit: cover;
    width: 50%;
    height: 50%;
    border-radius: 0.5rem;
}

img[type="mbanner"] {
    object-fit: cover;
    height: 20rem;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 3rem !important;
}

input {
    transition: all 0.1s;
    margin: 10px;
    text-align: left;
}

input[type="text"],
[type="password"],
[type="number"],
[type="email"] {

    background-color: transparent;
    border: 3px var(--co1) solid;
    border-radius: 16em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;

    font-size: 18px;
    color: var(--co1);
}

input:focus {
    outline: none;
    box-shadow: none;
    filter: brightness(110%);
}

input::placeholder {
    color: var(--co3);
    font-size: 18px;
    filter: opacity(50%);
}

button,
.butt {
    text-decoration: none;
    margin: 15px;
    background-color: var(--co1);
    color: var(--co4);
    font-size: 16px;
    padding: 1.5rem 2rem;

    border-style: none;
    border-radius: 5rem;
    cursor: pointer;

    transition: all 0.1s;
}

.butt:hover {
    filter: brightness(110%);
}

.butt[t="alt"],
.prodMng button {
    background-color: var(--co4) !important;
    color: var(--co1) !important;
}

.butt[t="alt"]:hover,
button:hover {
    filter: brightness(110%);
}

button[s="nobg"] {
    background-color: transparent;
    border-style: none;
    color: var(--co1) !important;
    box-shadow: none;
}

button:hover {
    filter: brightness(105%);
}

button:active {
    box-shadow: var(--lightshadow2);
    filter: brightness(120%);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS CLASSES --------------------------------------------*/

.sc-item {
    text-decoration: none;
    width: 50%;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    background: linear-gradient(90deg, rgba(247, 242, 255, 1) 30%, rgba(233, 220, 255, 1) 100%);
    border-radius: 5px;
    border: 0.1rem var(--co4) solid;
    box-shadow: var(--brdshdw1);

    transition: all 0.1s;
}

.sc-item:hover {
    cursor: pointer;
    filter: brightness(102%);
}

.sc-item img {
    object-fit: cover;
    width: 12rem;
    height: 10rem;
    border-radius: 5px;
}

.sc-item *:not(.sc-prodt *) {
    padding: 0.2rem !important;
    margin: 0.2rem !important;
}

.sc-prodt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.sc-prodt p {
    margin-top: 0 !important;
}

img[type="catalog"] {
    margin: 0;
    width: 18rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: var(--brdshdw1);
}

img[type="viewproduct"] {
    margin: 0;
    margin-bottom: 2rem;
    width: 100%;
    height: 30em;
    object-fit: cover;
    border-radius: 0.2rem;
    box-shadow: var(--brdshdw1);
}

.catalog-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
}

.catalog-leftdetails {
    left: 0;
    width: 40%;
    padding: 2em;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 !important;
    background-color: var(--co4fa);

}

.catalog-leftdetails input {
    background-color: var(--co1);
}

.catalog-leftdetails .icontext,
.bodybg .icontext {
    height: 3rem;
    background-color: var(--co4) !important;
    justify-content: center;
}

.catalog-leftdetails .icontext *,
.bodybg .icontext * {
    color: var(--co1) !important;

}

.catalog-rightdetails {
    right: 0;
    width: 60%;
    padding: 1rem;
}

h1[t="bb"],
h2[t="bb"],
h3[t="bb"],
h4[t="bb"],
h5[t="bb"],
h6[t="bb"] {
    padding-bottom: 1rem;
    border-bottom: 1px var(--co4) solid;
}

h1[t="bba"],
h2[t="bba"],
h3[t="bba"],
h4[t="bba"],
h5[t="bba"],
h6[t="bba"] {
    padding-bottom: 1rem;
    border-bottom: 1px #b9b3eb solid;
}

h1[t="bbd"],
h2[t="bbd"],
h3[t="bbd"],
h4[t="bbd"],
h5[t="bbd"],
h6[t="bbd"] {
    padding-bottom: 1rem;
    border-bottom: 1px #f4b4c5 solid;
}

.catalog-container:has(.catalog-leftdetails) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.catalog-product {
    pointer-events: visible;
    cursor: pointer;

    background-color: #FFF;
    padding: 1rem;
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    box-shadow: var(--brdshdw2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.05s;

    -webkit-user-drag: none;
}

.catalog-product * {
    -webkit-user-drag: none;
    margin: 0.5rem !important;
}

.catalog-product:hover {
    box-shadow: var(--lightshadow2);
}

.catalog-product:active {
    filter: brightness(90%);
    box-shadow: var(--lightshadow);
}

ptitle {
    font-size: 1.5em;
    color: var(--co4u) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ptitle[type="sub"] {
    font-family: "Alata";
    margin: 0 !important;
    padding: 0 !important;
    color: var(--co4b) !important;
    font-size: 0.8em;
}

ptitle[type="sub"] * {
    color: var(--co4b) !important;
}

ptitle * {
    color: var(--co4u) !important;
}

.bodybg {
    background-color: var(--co1);
    filter: brightness(102%);
    box-shadow: var(--brdshdw1);
    padding: 2rem;
    width: 100%;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bodybg p {
    font-size: 18px;
    line-height: 1.5rem;
    color: var(--co4u);
}

.icontext {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--co1);

    padding: 0.5rem 1rem;

    border-radius: 5rem;

    transition: all 0.1s;
}

.icontext[type="maxwidth"] {
    width: calc(100% - 2rem);
    height: 4rem;
    box-sizing: border-box;
}

.icontext * {
    margin: 0.2rem !important;
    color: var(--co4) !important;
}

.icontext p {
    font-weight: lighter;
}

.icontext:hover {
    filter: brightness(105%);
}

.icontext:active {
    filter: brightness(120%);
}

.undernav {
    margin: 8rem 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.undernav * {
    color: var(--co4);
    margin: 0.8rem;
}

.popup {
    background-color: var(--co4);
    box-shadow: var(--lightshadow);
    margin: 0.5em;
    border-radius: 5px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border: 2px var(--co1) solid;
    animation-name: ByePopup;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes ByePopup {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.popup * {
    color: var(--co1) !important;
}

.image-cont {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.image-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.half-box {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.innerbody {
    background-color: var(--co4);
    padding: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middlebody {
    background-color: var(--co4);
    border-radius: 8px;
    padding: 70px;
    box-shadow: var(--lightshadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerbody h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--co1);
}

.innerbody p {
    margin: 0;
    margin-bottom: 1rem;
}

.row-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
    text-align: center;
}

.image-cont {
    width: 70%;
    object-fit: fill;
}

.blurred {
    filter: blur(4px);
}

/* CSS IDS --------------------------------------------*/

img[type="sideIcon"] {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 100%
}

.sideitem {
    text-align: left;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    border-bottom: 0.5px rgb(255, 255, 255, 20%) solid;
}

.sideitem a {
    width: 100%;
    display: flex;
    align-items: center;

}

#sidebar {
    height: 100vh;
    width: 23em;
    position: fixed;
    z-index: 6;
    top: 0;
    right: 0;
    background-color: var(--co4ba);
    overflow-x: hidden;
    padding-top: 1rem;
    box-shadow: var(--hardshadow);
    transition: transform 0.5s, filter 0.5s;
    border-left: 4px var(--co1) solid;

    transform: translateX(20rem);
    filter: opacity(0%);
    pointer-events: none;
}

#blur-container {
    transition: filter 0.3s;
}

#sidebar a {
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--co1);
    transition: 0.1s;

    cursor: pointer;
}

#sidecontents {
    filter: opacity(100%);
}

#sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    filter: brightness(110%);
}

#main {
    transition: all 0.2s;
    width: 100%;
}

#main img {
    margin: 1rem;
}

/* COPYPASTE FROM GENERATORS :3 --------------------------------------------*/

.loader {
    width: 24px;
    height: 24px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

*::-webkit-scrollbar {
    width: 0px;
    /*lmaooo no scrollbar*/
}